<div class="w-full">
  <div class="block md:flex w-4/5 mx-auto py-3 border-b border-purple-300">
    <button
      class="block mx-auto rounded-full h-36 w-36 p-[1px] overflow-hidden flex-shrink-0 border-2 border-primary mb-3"
    >
      <img
        [src]="
          UserProfile.avatarImg
            ? 'http://localhost/gallery-backend/public/' + UserProfile.avatarImg
            : 'https://i.pinimg.com/originals/15/11/da/1511daf6288631f1f16c0e32a6a994c0.png'
        "
        alt=""
        class="h-full w-full rounded-full border border-primary"
      />
    </button>
    <div class="md:ml-4 w-full">
      <div class="block md:flex items-center justify-between mb-3">
        <h2
          class="font-josefin text-2xl font-extrabold mx-auto md:mx-0 text-center"
        >
          {{ this.UserProfile.username }}
        </h2>
        <div
          class="h-full w-full md:w-max flex items-center mx-auto md:mx-0"
          *ngIf="isProfileOwner"
        >
          <a
            class="border border-primary w-full rounded-md px-4 py-1 leading-7 font-josefin text-primary font-extrabold text-center"
            [routerLink]="['/account/edit']"
          >
            Edit Profile
          </a>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            class="text-primary ml-2 leading-5"
          >
            <mat-icon class="material-icons-outlined">settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a
              [routerLink]="['/account/password']"
              mat-menu-item
              class="font-josefin text-base font-extrabold hover:text-primary"
            >
              <mat-icon class="material-icons-outlined">lock</mat-icon>
              <span>Change password</span>
            </a>
            <a
              [routerLink]="['/account/avatar']"
              mat-menu-item
              class="font-josefin text-base font-extrabold hover:text-primary"
            >
              <mat-icon class="material-icons-outlined"
                >account_circle</mat-icon
              >
              <span>Change avatar</span>
            </a>
            <button
              mat-menu-item
              class="font-josefin text-base font-extrabold hover:text-primary"
              (click)="this._userService.logOut()"
            >
              <mat-icon class="material-icons-outlined">logout</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="">
        <span class="font-bold">{{ this.UserProfile.postCount }}</span> posts
      </div>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Posts">
      <app-picture-list
        *ngIf="UserPosts.length != 0; else noPosts"
        [postList]="UserPosts"
      ></app-picture-list>
      <ng-template #noPosts>
        <div class="flex items-center justify-center h-full">
          <h2 class="font-josefin text-2xl font-extrabold">
            No posts yet. <br />
            <a class="text-primary" [routerLink]="['/create']">Create</a> more
            posts to fill list!
          </h2>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Hearted">
      <app-picture-list
        *ngIf="UserPosts.length != 0; else noHearted"
        [postList]="HeartedPost"
      ></app-picture-list>
      <ng-template #noHearted>
        <div class="flex items-center justify-center h-full">
          <h2 class="font-josefin text-2xl font-extrabold">
            No hearted posts yet. <br />
            <mat-icon class="text-primary">favorite_border</mat-icon>
            more to fill the list!
          </h2>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
